.button_field {
    text-align: end;
}

.input_field {
    margin-top: 1%;
    /* justify-content: center; */
    max-width: 70px !important;
    font-size: x-small;
    /* text-align: end; */
    border: #808080 1px solid;
}

.customer_sale_input_field {
    margin-top: 1%;
    font-size: x-small;
    max-width: 65px !important;
    text-align:end;
    border: #808080 1px solid;
}

.table_select {
    width: 120px;
    /* line-height: 15px; */
    height: 18px;
    text-align: center;
    border: #808080 1px solid;
}

.docstatus_button {
    background-color: #f2dcdc !important;
    padding: 0 13px !important;
    color: #f36161 !important;
    font-size: 0.5rem;
    margin-left: 10px;
}

.docstatus_button_text {
    font-size: 0.9rem;
}
.cursor_pointer {
    cursor: pointer;
}
.total_row_input_field{
    width: 20% !important;
    border: 0;
}

